:focus {
	outline-width: var(--underline-thickness);
	outline-style: solid;
	outline-color: var(--link-underline-hover);
	border-radius: var(--border-radius);
	text-decoration-line: none;
}

:focus:not(:focus-visible) {
	outline: none;
}

[tabindex="-1"]:focus {
	outline: none;
}

.skip-to-main {
	display: block;
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	opacity: 0;
	transform: translateY(-100%);
	transition: all var(--transition-duration) var(--transition-timing-function);
	z-index: 999;
}

.skip-to-main:focus {
	opacity: 1;
	outline: 0;
	transform: translateY(0);
	border-radius: 0 0 var(--border-radius) 0;

	background-color: var(--primary-text);
	color: var(--primary-bg);
}
