:where(article) header {
	margin-block-end: var(--space-5xl);
}

@supports (text-wrap: balance) {
	:where(article) h1 {
		text-wrap: balance;
	}
}

:where(article) :is(h1, h2, h3, blockquote, blockquote + *) {
	--flow-space: 1.5em;
}

.meta-info {
	font-size: var(--step-0);
}

/* @supports (initial-letter: 1 1) or (-webkit-initial-letter: 1 1) {
	.prose::first-letter {
		-webkit-initial-letter: 2 2;
		initial-letter: 2 2;
		font-weight: 700;
		margin-inline-end: 0.5ch;
	}
} */

:where(article) blockquote {
	padding-inline-start: 1em;
	border-inline-start: 0.1em solid var(--element-border);
	font-style: italic;
}
