:root {
	/* space */
	--max-page-width: 50rem;
	--page-gutter: var(--space-s-m);
	--page-inner-gap: var(--space-4xl);
	--nav-padding-block: var(--space-2xs);
	--nav-padding-inline: var(--space-xs);
	--button-padding-block: 1ex;
	--button-padding-inline: 1ch;

	/* type */
	--serif: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
	--sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	--text-lh: 1.585;
	--heading-lh: 1.1;
	--underline-thickness: 1px;
	--border-radius: 1px;

	/* colors */
	--primary-hue: 50deg;
	--secondary-hue: 215deg;
	--color-dark: hsl(var(--primary-hue) 0% 6.67%);
	--color-light: hsl(var(--primary-hue) 100% 98.63%);
	--color-accent: hsl(var(--secondary-hue) 100% 33%);

	--color-dark-shade: color-mix(in srgb, var(--color-dark), var(--color-light));
	--color-accent-shade: color-mix(
		in srgb,
		var(--color-accent),
		var(--color-light)
	);
	--color-dark-a80: color-mix(in srgb, var(--color-dark), transparent 80%);
	--color-light-a80: color-mix(in srgb, var(--color-light), transparent 80%);
	--color-accent-a80: color-mix(in srgb, var(--color-accent), transparent 80%);

	--text: var(--color-dark);
	--bg: var(--color-light);
	--link-hover: var(--color-accent);
	--link-underline: var(--color-dark-shade);
	--link-underline-hover: var(--color-accent-shade);
	--section-separator: var(--color-dark-shade);
	--element-border: var(--color-dark-a80);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-accent: hsl(var(--primary-hue) 96% 49%);
		--color-accent-shade: color-mix(
			in srgb,
			var(--color-accent),
			var(--color-dark)
		);

		--bg: var(--color-dark);
		--text: var(--color-light);
		--element-border: var(--color-light-a80);
		--invert: 1;
	}
}

body {
	background-color: var(--bg);
	color: var(--text);

	font-family: var(--serif);
	font-size: var(--step-1);
	line-height: var(--text-lh);
}

main {
	--stack-gap: var(--page-inner-gap);
	margin-block: var(--page-inner-gap);
}

h1,
h2,
h3 {
	font-weight: 700;
	line-height: var(--heading-lh);
}

h1 {
	font-size: var(--step-4);
}

h2 {
	font-size: var(--step-3);
}

h3 {
	font-size: var(--step-2);
}

:is(h1, h2, h3) + * {
	--flow-space: 0.5em;
}

a {
	color: currentColor;
	text-decoration-color: var(--link-underline);
	text-decoration-thickness: var(--underline-thickness);
	text-underline-offset: 2px;
}

a:where(:hover, :focus) {
	color: var(--link-hover);
	text-decoration-color: var(--link-underline-hover);
}

button,
.btn {
	padding: var(--button-padding-block) var(--button-padding-inline);
	background-color: var(--text);
	color: var(--bg);
	font-size: var(--step-0);
	font-weight: 700;
}

button:where(:hover, :focus),
.btn:where(:hover, :focus) {
	background-color: var(--bg);
	color: var(--text);
}

ul,
ol {
	padding-inline-start: 1em;
}

@supports (hanging-punctuation: first) {
	blockquote p {
		hanging-punctuation: first;
	}
}

input {
	border: unset;
	padding: var(--button-padding-block) var(--button-padding-inline);
	font-size: var(--step-0);
	background-color: var(--bg);
	font-weight: 700;
}

label {
	font-weight: 700;
}

strong {
	font-weight: 700;
}

[id] {
	scroll-margin-top: calc(var(--page-inner-gap) / 2);
}
