.site-head__inner {
	--cluster-horizontal-alignment: space-between;
	--cluster-vertical-alignment: flex-start;
	border-block-end: var(--underline-thickness) solid var(--color-dark-shade);
}

.site-head__inner a {
	padding-block: var(--page-gutter);

	font-size: var(--step--1);
	letter-spacing: 0.0375em;
	line-height: var(--heading-lh);
	text-decoration-line: none;
}

.site-head__inner a:where(:hover, :focus) {
	text-decoration-line: underline;
}
