.all-posts {
	inline-size: 100%;
	text-align: center;
}

.all-posts:where(:hover, :focus) {
	--btn-bg: transparent;
	--btn-color: var(--primary-text);
	outline: var(--underline-thickness) solid currentColor;
}
