h1 {
	padding-block: var(--page-gutter);
}

.recent-posts-container .heading-container {
	position: relative;
}

.recent-posts-container h2 {
	max-inline-size: fit-content;
	padding-inline-end: 1ch;
	background: var(--primary-bg);

	font-size: var(--step-1);
	font-variant-caps: all-small-caps;
	font-weight: 400;
	letter-spacing: var(--ls-1);
}

.recent-posts-container h2:before {
	content: "";
	position: absolute;
	inset-block-start: 50%;
	inset-inline-start: 0;
	background: var(--border-color);
	block-size: var(--underline-thickness);
	inline-size: 100%;
	z-index: -1;
}

.recent-posts-list {
	--flow-space: 0;
	display: grid;
	grid-template-columns: 1fr;
}

.recent-posts-list li {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-3xs) var(--space-l-xl);
	padding-block: var(--post-item-padding-block);
}

@media (min-width: 40rem) {
	@supports (grid-template-columns: subgrid) {
		.recent-posts-list {
			display: grid;
			grid-template-columns: 1fr 7rem;
			gap: 0 var(--space-l-xl);
		}

		.recent-posts-list li {
			grid-column: 1/-1;

			display: grid;
			grid-template-columns: subgrid;
			align-items: center;

			counter-increment: count 1;
		}
		.recent-posts-list .meta-info {
			order: unset;
			align-self: start;
			justify-self: end;
			text-align: end;

			flex-direction: column;
			gap: 0;
		}

		:where(.recent-posts-list) .meta-info .separator {
			display: none;
		}
	}
}

.recent-posts-list li:where(:hover, :focus-within) {
	color: var(--link-text);
}

.recent-posts-list li + li {
	border-block-start: var(--underline-thickness) solid var(--border-color);
}

/* .recent-posts-list li:before,
.recent-posts-list li:after {
	content: "";
	position: absolute;
	inset-block-start: 100%;
	transition: all 0.4s ease;
}

.recent-posts-list li:before {
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: var(--underline-thickness);
	background-color: var(--border-color);
}

.recent-posts-list li:after {
	inset-inline-start: auto;
	inset-inline-end: 0;
	inline-size: 0%;
	block-size: var(--underline-thickness);
	background-color: currentColor;
}

.recent-posts-list li:hover:before {
	background-color: var(--secondary-bg);
}

.recent-posts-list li:hover:after {
	inline-size: 100%;
	inset-inline-start: 0;
	inset-inline-end: auto;
	background-color: var(--link-text);
} */

/* .recent-posts-list h3 {
	font-size: var(--step-1);
} */

.recent-posts-list a {
	text-decoration-line: none;
}

.recent-posts-list a:before {
	content: "";
	position: absolute;
	inset: 0;
}

.recent-posts-list .meta-info {
	display: flex;
	gap: 0 1ch;
}

:where(.recent-posts-list) .meta-info time {
	/* TODO: check if this really needed */
	min-inline-size: fit-content;
}

@supports (text-wrap: balance) {
	h1 {
		text-wrap: balance;
	}

	:where(.recent-posts-list) li {
		text-wrap: balance;
	}
}
