.magna-carta-banner {
	display: grid;
	grid-template-areas: "content";
	align-items: center;
}

.magna-carta-banner > * {
	grid-area: content;
}

.magna-carta-banner :where(picture, img) {
	block-size: 100%;
	inline-size: 100%;
}

.magna-carta-banner img {
	object-fit: cover;
	filter: contrast(1.5) grayscale(1) invert(1);
	mix-blend-mode: hard-light;
}

.magna-carta-banner p {
	padding-block: var(--page-inner-gap);
	color: var(--primary-bg);
	font-size: var(--space-xl-3xl);
	line-height: var(--lh-1);
	letter-spacing: var(--ls-2);
	text-align: center;
	font-weight: var(--bold);
	z-index: 1;

	filter: url(#distort);
}

@media (prefers-color-scheme: dark) {
	.magna-carta-banner img {
		mix-blend-mode: unset;
	}

	.magna-carta-banner p {
		color: var(--primary-text);
	}
}

@supports (hanging-punctuation: first) {
	.magna-carta-banner p {
		padding-inline: var(--space-2xs-xs);
	}
}

@supports (text-wrap: balance) {
	.magna-carta-banner p {
		text-wrap: balance;
	}
}
