.posts-container {
	inline-size: 100%;
}

.heading-container {
	--heading-container-padding: calc(
		0.25 * var(--lh-3) * var(--post-item-padding-block)
	);
	--cluster-horizontal-alignment: space-between;

	margin-block-start: calc(-1 * var(--heading-container-padding));
	font-weight: var(--medium);
	text-transform: uppercase;
	font-style: italic;
}

.heading-container > * {
	padding-block: var(--heading-container-padding);
	color: inherit;
	font-size: inherit;
}

.page-number {
	text-transform: lowercase;
}

.heading-container a {
	position: relative;
	text-decoration: none;
}

.heading-container a:where(:hover, :focus) {
	color: var(--link-text);
}

.heading-container a:after {
	content: "";
	position: absolute;
	inset-block-start: 100%;
	inset-inline-start: auto;
	inset-inline-end: 0;
	inline-size: 0%;
	block-size: var(--underline-thickness);
	background-color: var(--link-underline-hover);
	transition: all var(--transition-duration) var(--transition-timing-function);
	z-index: 1;
}

.heading-container a:hover:after {
	inline-size: 100%;
	inset-inline-start: 0;
	inset-inline-end: auto;
}

.posts-list {
	--flow-space: 0;
}

.posts-list li {
	position: relative;
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--space-3xs) var(--space-xl-2xl);
	padding-block: var(--post-item-padding-block);
	transition: all var(--transition-duration) var(--transition-timing-function);
}

@media (min-width: 48rem) {
	.posts-list li {
		grid-template-columns: 1fr auto;
		grid-template-rows: auto 1fr;
		counter-increment: count;
	}

	.posts-list :where(h3, .meta-info) {
		grid-column: 1/2;
	}

	.posts-list li:after {
		content: "0" counter(count, decimal);

		grid-row: 1/-1;
		grid-column: 2/-1;

		font-size: var(--step-6);
		font-weight: var(--light);
		line-height: var(--lh-0);
		opacity: 0.9;
		transition: all var(--transition-duration) var(--transition-timing-function);
		pointer-events: none;
	}

	.posts-list li:hover:after {
		color: var(--link-text);
	}
}

.posts-list li:where(:hover, :focus-within) {
	color: var(--link-text);
}

.posts-list li:first-child,
.posts-list li + li {
	border-block-start: var(--underline-thickness) solid var(--border-color);
}

.posts-list li:hover,
.posts-list li:hover + li,
.posts-list li:focus-within,
.posts-list li:focus-within + li {
	border-color: var(--link-text);
}

.posts-list a:focus {
	outline: none;
}

.posts-list li:last-child {
	position: relative;
}

.posts-list li:last-child:before {
	content: "";
	position: absolute;
	inset-block-start: 100%;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: var(--underline-thickness);
	background-color: var(--border-color);
	transition: all var(--transition-duration) var(--transition-timing-function);
}

.posts-list li:last-child:hover:before,
.posts-list li:last-child:focus-within:before {
	background-color: var(--link-text);
}

.posts-list a {
	font-weight: var(--regular);
	text-decoration-line: none;
}

.posts-list a:before {
	content: "";
	position: absolute;
	inset: 0;
}

.posts-list .meta-info {
	--cluster-gap: 0 1ch;
	font-variant-numeric: oldstyle-nums;
}

.posts-list h3:where(:hover, :focus-within) + .meta-info {
	color: var(--link-text);
}

@supports (text-wrap: balance) {
	.site-title,
	:where(.posts-list) li {
		text-wrap: balance;
	}
}

/* @media (min-width: 40rem) {
	@supports (grid-template-columns: subgrid) {
		.posts-list {
			display: grid;
			grid-template-columns: 1fr 7rem;
			gap: 0 var(--space-l-xl);
		}

		.posts-list li {
			grid-column: 1/-1;

			display: grid;
			grid-template-columns: subgrid;
			align-items: center;

			counter-increment: count 1;
		}
		.posts-list .meta-info {
			order: unset;
			justify-self: end;
			text-align: end;

			flex-direction: column;
			gap: 0;
		}

		:where(.posts-list) .meta-info .separator {
			display: none;
		}
	}
} */
