<!-- capture the CSS content as a Nunjucks variable -->
{% set css %}
  {% include "./reset.css" %}
  {% include "./a11y.css" %}
  {% include "./color.css" %}
  {% include "./type.css" %}
  {% include "./space.css" %}
  {% include "./global.css" %}
  {% include "./header.css" %}
  {% include "./magna-carta-banner.css" %}
  {% if layout == "layouts/home.html" %}
    {% include "./home.css" %}
  {% endif %}
  {% include "./post.css" %}
  {% include "./subscription-form.css" %}
  {% include "./utilities.css" %}
{% endset %}

<style>{{ css | safe }}</style>