.subscription-form__inner {
	--row-grid-gap: var(--space-xl);
	--column-grid-gap: var(--space-4xl);
	--grid-gap: var(--row-grid-gap) var(--column-grid-gap);

	display: grid;
	grid-template-columns: repeat(var(--columns, 1), 1fr);
	gap: var(--grid-gap);
	align-items: flex-start;
	padding-block: var(--page-inner-gap);
	border-block-start: var(--underline-thickness) solid var(--section-separator);
}

@media (min-width: 48rem) {
	.subscription-form__inner {
		--columns: 2;
	}
}

@supports (text-wrap: balance) {
	.subscription-form__inner :where(h2, .form-desc) {
		text-wrap: balance;
	}
}

.form-desc {
	max-inline-size: var(--line-length, 40ch);
	font-size: var(--step-0);
}

:where(.subscription-form__inner) form {
	--flow-space: var(--space-2xs);
}

:where(.subscription-form__inner) .with-sidebar {
	max-inline-size: 40ch;
	outline: var(--underline-thickness) solid var(--text);
	border-radius: var(--border-radius);
}

:where(.subscription-form__inner) button {
	border-inline-start: var(--underline-thickness) solid var(--text);
}

/* :where(.subscription-form__inner) input:valid + button {
	background-color: var(--text);
	color: var(--bg);
} */

.subscriber-count {
	font-size: var(--step--1);
}
