{%- extends "layouts/base.html" -%}

{%- block content -%}
  <main class="archive" id="main" tabindex="-1">
    <section class="posts-container flow wrapper">
      <div class="heading-container">
        <h2 class="all-small-caps">All Posts</h2>
      </div>
      <ul class="posts-list" role="list">
        {%- for post in posts -%}
          <li>
            <h3>
              <a href="{{ post.url }}">
                {{ post.data.title | addNbsp | safe }}
              </a>
            </h3>
            <div class="meta-info cluster step-0">
              <time datetime={{ post.date | htmlDate }}>
                {{ post.date | readableDate | safe }}
              </time>
              <span class="separator">|</span>
              <p>{{ post.data.author }}</p>
            </div>
          </li>
        {%- endfor -%}
      </ul>
      {% if pagination.href.previous or pagination.href.next  %}
        {% include "partials/pagination.html" %}
      {% endif %}
    </section>
  </main>
{%- endblock -%}