{%- extends "layouts/base.html" -%}

{%- block content -%}
  <main class="archive" id="main" tabindex="-1">
    <section class="posts-container flow wrapper">
      <div class="heading-container cluster secondary-text step--1">
        <h2>All Posts</h2>
        <p class="page-number">
          {{- pagination.pageNumber + 1 }} of {{pagination.hrefs.length}}
        </p>
      </div>
      <ul class="posts-list" role="list">
        {%- for post in posts -%}
          <li>
            <h3>
              <a href="{{ post.url }}">
                {{ post.data.title | addNbsp | safe }}
              </a>
            </h3>
            <time
              class="step-0 secondary-text"
              datetime={{ post.date | htmlDate }}
            >
              <span class="only-date">{{ post.date | onlyDate }}</span>
              <span>{{ post.date | onlyMonthYear }}</span>
            </time>
            <span class="separator">•</span>
            <span class="step-0 secondary-text">{{ post.data.author }}</span>
          </li>
        {%- endfor -%}
      </ul>
      {% if pagination.href.previous or pagination.href.next  %}
        {% include "partials/pagination.html" %}
      {% endif %}
    </section>
  </main>
{%- endblock -%}