{%- extends "layouts/base.html" -%} 

{%- block content -%}
  <main class="post" id="main" tabindex="-1">
    <article class="stack wrapper">
      <header class="flow">
        <h1>{{ title }}</h1>
        <p class="meta-info">
          <span class="vh">Published by </span> 
          <a href="#">{{ author }}</a> on
          <time datetime={{ date | htmlDate }}>
            {{ date | readableDate | safe }}
          </time>
        </p>
      </header>
      {% if editorsNote %}
        <details class="editors-note-container" open>
          <summary class="all-small-caps">Editor's Note</summary>
          <div class="editors-note">{{ editorsNote | md | safe }}</div>
        </details>
      {% endif %}
      <section class="prose flow">
        {{ content | safe }}
      </section>
      <p class="tag-list step-0">
        Tagged in 
        {% for tag in tags %}
          {% if not loop.last %}
            <span>
              <a href="#">{{- tag | replace("-", " ") -}}</a>
              <span>, </span>
            </span>
          {% else %}
            <span>
              <a href="#">{{- tag | replace("-", " ") -}}</a>
            </span>
          {% endif %}
        {% endfor %}
      </p>
    </article>
  </main>
{%- endblock -%}